.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #f1f1f3;
}

/* shared style */
.text-primary {
}

/* buttons */

.button-sign-in {
  background-color: #ffffff;
  color: #006a50;
  font-weight: 600;
  padding: 15px 30px;
  margin: 24px;
  border-radius: 8px;
  border-color: #006a50;
}

.button-explore-bd {
  background-color: #006a50;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 17px 34px;
  border-radius: 8px;
  margin-top: 24px;
}

/* nav  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 160px;
}

.nav-title {
  font-weight: 700;
  font-size: 32px;
}

nav ul li {
  list-style: none;
  font-size: 18px;
}

/* banner styles */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6e4d6;
  margin: 20px 160px 80px 160px;
  border-radius: 24px;
}

.parent-content {
  margin-left: 60px;
  padding: 117px 60px;
}

.banner-title {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500;
}

.banner-idea {
  font-size: 52px;
  font-weight: bold;
}

.banner-profile-pic {
  width: 460px;
  height: 380px;
  padding: 80px 60px;
}

/* pillars */

.pillar-bd {
  margin: 0px 160px 80px 160px;
}

.parent-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.pillar-box {
  background-color: #ffffff;
  border-radius: 16px;
  /* font-size: 16px; */
  padding: 24px;
}

.pillar-h {
  font-size: 20px;
  font-weight: bold;
}

.pillar-img {
  margin-bottom: 24px;
}

/* vision of future */

.vision {
  margin: 0px 160px 80px 160px;
}

.parent-vision {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 32px 0 32px 0;
}

.vision-box-1 {
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  padding: 32px;
}
.vision-box-2 {
  background-color: #c6e4d6;
  border-radius: 16px;
  padding: 32px;
}
.vision-box-3 {
  background-color: #f7ebcf;
  border-radius: 16px;
  padding: 32px;
}

.btn-v-1 {
  background-color: #5490f5;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  margin-top: 24px;
}
.btn-v-2 {
  background-color: #09a15c;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  margin-top: 24px;
}
.btn-v-3 {
  background-color: #ffc239;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  margin-top: 24px;
}

/* recent news */

.recent-news {
  margin: 0px 160px 80px 160px;
}

.sub-news {
  /* margin-bottom: 24px; */
}

.news-head {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.news-head-2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.8);
}

.news-box-1 {
  padding: 48px;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 24px;
}

.sata-img {
  width: 408px;
  height: 306x;
  border-radius: 24px;
}

.al-j-pic {
  width: 130px;
  height: 40px;
}

.news-btn {
  background-color: #006a50;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 13px 26px;
  border-radius: 8px;
  /* margin-top: 12px; */
}
